<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
 		<title>Sukses!</title>
 		<div th:replace="fragments/head"></div>
 		
    </head>
    <body>
    
    		<div class="jumbotron">
    		
	    		<h1><b>Sukses !</b></h1>
			<h4 th:text="'Penduduk dengan NIK ' + ${nik} + ' sudah tidak aktif'"></h4>
			<p>Harap tunggu</p>
			<script th:inline="javascript">
		 		$(document).ready(function () {
		 			var nik = [[${nik}]];
		 			//System.out.println(nik);
		 			setTimeout(
	 					function(){
	 						window.location.href="http://localhost:8080/penduduk?nik=" + nik;
	 						console.log(nik)
	 					}, 5000);
		 		});	
 			</script>
		</div>
    </body>
    <div th:replace="fragments/footer"></div>
</html>